{% extends 'E_library/base_visitor.html' %}
{% block title %}Add Book{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add Book</h3>
                        <form class="form-horizontal" role = "form" action="/E_library/authorlogin/{{ aid}}/addbook/{{ isbn }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'E_library/form_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}