{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'E_library/style.css' %}"/>

<img src = "http://www.grlresearch.com/images/bg.jpg" align="left" width="650" height="700">

<div align="center"><br>
    <h1 style="color:purple;font-family: 'Satisfy', cursive;font-style: italic;">WELCOME TO E-LIBRARY</h1>
</div><br>

<nav>
    <div class="navbar-right" style="text-align: center; margin-right: 15px; color: lightpink; font-family: cursive; border-left: double; border-left-color: white; height: 200">
        <h2 style="font-family: 'Monotype Corsiva' ; color: coral"><strong> ABOUT US</strong></h2>
        <h3 style="font-family: Gabriola ; color: dodgerblue"> Our library is a non-profit library<br>that aims to create and enhance<br>the habit of reading amongst<br>readers of all age categories.<br>
        Here, you can explore any genre<br>of books as you wish to!<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></h3>
    </div>
</nav>

<br><br><div align="center">
    <div class="center"><h4 style="color: white;font-family: 'Satisfy', cursive">ARE YOU AN AUTHOR?</h4>
        <a href="/E_library/authorlogin/" style="color:purple; border: groove;border-bottom-width: medium">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/E_library/authorsignup/" style="color: purple; border: groove;border-bottom-width: medium">SIGNUP</a>
    </div><br>
    <div class="center"><h4 style="color: white;font-family: 'Satisfy', cursive">ARE YOU A USER?</h4>
        <a href="/E_library/userlogin/"style="color: purple; border: groove;border-bottom-width: medium">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/E_library/usersignup/" style="color: purple; border: groove;border-bottom-width: medium">SIGNUP</a>
    </div>
</div>

